*.iml
*.xml
*.png
*.bat
*.txt
*.gradle
*.pro
*.zip
*.properties
*.jar
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
gradlew
/app/.gitignore

